<div class="row">
    <h1 class="title">Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1 class="name">GasApp</h1>
            <p>App para gasistas que permite realizar cálculos de cañerias de gas para instalaciones domiciliarias de forma automática. El usuario ingresa
                los tramos con su correspondiente longitud real, de cálculo y el consumo del artefacto asociado. Lista la cantidad de accesorios necesarios por tramo. La app realiza calculos matematicos que compara
                con la base de datos y devuelve el diámetro necesaria para cada tramo junto al listado
                de accesorios con sus precios y cantidades absolutas</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="/assets/gasApp.JPG " id="img" class="img-fluid imgProyecto">
    </div>
</div>
</div>

