<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="/assets/imagenactual.jpg" class="img-fluid" id="fotoPerfil" alt="imagenPersonal">
    </div>
    <div id="descripcion" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">{{usuario.nombre}} {{usuario.apellido}}</p>
        <p class="cursiva">{{usuario.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1 class="cursiva">Acerca de mi</h1>
            <p>{{usuario.descripcion}}
            </p>
        </span>
    </div>
</div>