<h1>Hard & Soft skills</h1>

<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class=" div1 text-center col-sm-3 col-md-3 col-lg-3"> 
        <circle-progress
        [percent]="90"
        [radius]="100"
        [showSubtitle]=true
        [subtitle]="'90%'"
        [subtitleColor]="'black'"
        [showUnits]=false
        [title]="'HTML'"
        [titleFontSize]="'20px'"
        [subtitleFontSize]="'15px'"
        [titleColor]="'#003f54'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#00607c'"
        [innerStrokeColor]="'#00493f'"
        [animation]="true"
        [animationDuration]="500">
    </circle-progress></div>
    <div class=" div2 text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showSubtitle]=true
        [subtitle]="'80%'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'15px'"
        [showUnits]=false
        [title]="'CSS'"
        [titleFontSize]="'20px'"
        [titleColor]="'#003f54'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#00607c'"
        [innerStrokeColor]="'#00493f'"
        [animation]="true"
        [animationDuration]="500">
    </circle-progress></div>
    <div class=" div3 text-center col-sm-3 col-md-3 col-lg-3"> 
        <circle-progress
        [percent]="75"
        [radius]="100"
        [showSubtitle]=true
        [subtitle]="'75%'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'15px'"
        [showUnits]=false
        [title]="'Javascript'"
        [titleFontSize]="'20px'"
        [titleColor]="'#003f54'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#00607c'"
        [innerStrokeColor]="'#00493f'"
        [animation]="true"
        [animationDuration]="500">
    </circle-progress></div>
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>

<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class=" text-center col-sm-3 col-md-3 col-lg-3"> 
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showSubtitle]=true
        [subtitle]="'70%'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'15px'"
        [showUnits]=false
        [title]="'NodeJS'"
        [titleFontSize]="'20px'"
        [titleColor]="'#003f54'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#00607c'"
        [innerStrokeColor]="'#00493f'"
        [animation]="true"
        [animationDuration]="500">
    </circle-progress></div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showSubtitle]=true
        [subtitle]="'60%'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'15px'"
        [showUnits]=false
        [title]="'Java'"
        [titleFontSize]="'20px'"
        [titleColor]="'#003f54'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#00607c'"
        [innerStrokeColor]="'#00493f'"
        [animation]="true"
        [animationDuration]="500">
    </circle-progress></div>
    <div class=" text-center col-sm-3 col-md-3 col-lg-3"> 
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showSubtitle]=true
        [subtitle]="'80%'"
        [subtitleColor]="'black'"
        [subtitleFontSize]="'15px'"
        [showUnits]=false
        [title]="'Angular'"
        [titleFontSize]="'20px'"
        [titleColor]="'#003f54'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#00607c'"
        [innerStrokeColor]="'#00493f'"
        [animation]="true"
        [animationDuration]="500">
    </circle-progress></div>
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>


    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class=" text-center col-sm-3 col-md-3 col-lg-3"> 
            <circle-progress
            [percent]="100"
            [radius]="100"
            [showSubtitle]=true
            [subtitle]="'100%'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15px'"
            [showUnits]=false
            [title]="'Comunicación asertiva'"
            [titleFontSize]="'16px'"
            [titleColor]="'#003f54'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#00607c'"
            [innerStrokeColor]="'#00493f'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress></div>
        <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
            <circle-progress
            [percent]="95"
            [radius]="100"
            [showSubtitle]=true
            [subtitle]="'95%'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15px'"
            [showUnits]=false
            [title]="'Adaptacion a cambios'"
            [titleFontSize]="'17px'"
            [titleColor]="'#003f54'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#00607c'"
            [innerStrokeColor]="'#00493f'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress></div>
        <div class=" text-center col-sm-3 col-md-3 col-lg-3"> 
            <circle-progress
            [percent]="100"
            [radius]="100"
            [showSubtitle]=true
            [subtitle]="'100%'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'15px'"
            [showUnits]=false
            [title]="'Trabajo en equipo'"
            [titleFontSize]="'18px'"
            [titleColor]="'#003f54'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#00607c'"
            [innerStrokeColor]="'#00493f'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress></div>
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
    </div>


